<div class="grid-container">
  <div class="row">
    <h1><%= image_tag "nerac.png", size: "150x150" %> Emergency Vehicle Adequacy Calculator</h1>
  </div>
  <div class="row">
    <%= render 'form', calculation: @calculation %>
  </div>
</div>
